---
import HeaderButton from "./HeaderButton.astro";
console.log("Javascript");
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
      Factor Life Natural
    </h2>
    <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
      Los mejores productos de aseo del mercado
    </p>
  </div>

  <nav
    class="flex flex-col items-center justify-center w-full text-center md:flex-row"
  >
    <HeaderButton class="text-white" href="/">
      <svg
        slot="before-text"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#ffffff"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
        <path d="M10 12h4v4h-4z"></path>
      </svg>
      Inicio
    </HeaderButton>
    <HeaderButton class="text-white" href="/ourCompany">
      <svg
        slot="before-text"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#ffffff"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 9h.01"></path>
        <path
          d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z"
        ></path>
        <path d="M11 12h1v4h1"></path>
      </svg>
      Informacion
    </HeaderButton>
    <HeaderButton class="text-white" href="/prodcuts">
      <svg
        slot="before-text"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#ffffff"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path
          d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"
        ></path>
        <path
          d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"
        ></path>
        <path d="M9 12l.01 0"></path>
        <path d="M13 12l2 0"></path>
        <path d="M9 16l.01 0"></path>
        <path d="M13 16l2 0"></path>
      </svg>
      Productos
    </HeaderButton>
    <HeaderButton class="text-white" href="/contactUs">
      <svg
        slot="before-text"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#ffffff"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path
          d="M20 6v12a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2z"
        ></path>
        <path d="M10 16h6"></path>
        <path d="M13 11m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
        <path d="M4 8h3"></path>
        <path d="M4 12h3"></path>
        <path d="M4 16h3"></path>
      </svg>
      Contactenos
    </HeaderButton>
  </nav>
</header>
